body {
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    padding: 0;
}
.contact .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.contact .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

#header {
    margin: 0 auto;
    padding: 44px 0 50px;
    text-align: center;

}

#header ul {
    margin: 0;
    padding: 56px 0 0;
}

#header ul li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0 19px;
}

#header ul li a {
    color: #252525;
    display: inline-block;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0 0 3px;
    text-decoration: none;
    text-transform: uppercase;
}

#header ul li a:hover,
#header ul li.selected a {
    color: #0ba39c;
}

#body {
    margin: 0;
    text-align: center;
}

.whiteFont {
    color: white;
}
#mobileHeader
{
    display: none;
}
#navPicTitleMobile
{
    display: none;
}
.emptyPadding
{
    padding: 30px;
}
#mobilePictures
{
    display: none;
}
#desktopPictures{
    display: block;
}
#desktopStart
{
    display: block;
}
#mobileStart
{
    display: none;
}
.topPadder
{
    padding-top: 50px;
}
.btnPadder
{
    padding: 50px;
    font-size: 70px;
}
.imgsize
{
    height: 550px;
    width: 330px;
}
.mobilePictureSizer
{
    width: 500px;
}
@media (max-width: 1000px) {
    #mobilePictures
    {
        display: block;
    }
    #desktopPictures
    {
        display: none;
    }
}
@media (max-width: 800px) {

    #header{
        display: none;
    }

    #mobileHeader
    {
        display: block;
    }
    #navPicTitleMobile
    {
        display: block;
    }

    #desktopStart
    {
        display: none;
    }
    #mobileStart
    {
        display: block;
    }
}
